.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/

documents/rapport_gruppe_3.toc

documents/.Rhistory

documents/rapport_gruppe_3.aux

documents/rapport_gruppe_3.log

documents/rapport_gruppe_3.out

documents/rapport_gruppe_3.synctex.gz

library/library.iml
