<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gruppe3.dtu02128.fridgeapp" >

    <application
        android:name=".FridgeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddProductActivity"
            android:label="@string/title_activity_add_product"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ItemViewActivity"
            android:label="ItemViewActivity" >
        </activity>
        <activity
            android:name=".NewProductScannerActivity"
            android:label="@string/title_activity_new_product_scanner" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="SettingsActivity" >
        </activity>
        <activity
            android:name=".AddContainerActivity"
            android:label="@string/title_activity_add_container" >
        </activity>
        <activity
            android:name=".ContainersActivity"
            android:label="@string/title_activity_containers" >
        </activity>

        <receiver android:name=".FoodExpireBroadcastReceiver" >
        </receiver>

    </application>

</manifest>
